/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {   
     withName: "ANATOMICAL_SEGMENTATION:SEGMENTATION_SYNTHSEG" {
        memory              = 16.GB
        ext.fast            = params.synthseg_run_fast
        ext.gpu             = params.synthseg_enable_gpu
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/SEGMENTATION/" : "${params.outdir}/${meta.id}/ANAT/SEGMENTATIONS/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "_${meta.session}" : ""
                if ( filename.contains("wm_mask") ) { "${meta.id}_${ses}space-DWI_label-WM_mask.nii.gz" }
                else if ( filename.contains("gm_mask") ) { "${meta.id}_${ses}space-DWI_label-GM_mask.nii.gz" }
                else if ( filename.contains("csf_mask") ) { "${meta.id}_${ses}space-DWI_label-CSF_mask.nii.gz" }
                else if ( filename.contains("wm_map") ) { "${meta.id}_${ses}space-DWI_label-WM_probseg.nii.gz" }
                else if ( filename.contains("gm_map") ) { "${meta.id}_${ses}space-DWI_label-GM_probseg.nii.gz" }
                else if ( filename.contains("csf_mask") ) { "${meta.id}_${ses}space-DWI_label-CSF_probseg.nii.gz" }
                else if ( filename.contains("seg") ) { "${meta.id}_${ses}space-DWI_label-probseg.nii.gz" }
                else if ( filename.contains("aparc_aseg") ) { "${meta.id}_${ses}space-DWI_label-aparc_aseg.nii.gz" }
                else if ( filename.contains("resample") ) { "${meta.id}_${ses}resampled_image.nii.gz" }
                else if ( filename.contains("volume") ) { "${meta.id}_${ses}volume.csv" }
                else if ( filename.contains("qc_score") ) { "${meta.id}_${ses}qc_score.csv" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]     
    }

    //withName: "ANATOMICAL_SEGMENTATION:SEGMENTATION_FASTSEG" {
        // Nothing to do !
    //}

    //withName: "ANATOMICAL_SEGMENTATION:SEGMENTATION_FREESURFERSEG" {
        // Nothing to do !
    //}
}